.rc-popup-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 30px;
    background-color: #000;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
}

.with-leave-a-review-button .rc-first-button-container {text-align: center;}
.with-leave-a-review-button .rc-popup-button {position: static; display: inline-block;}
.with-leave-a-review-button .rc-popup-content[data-item-step="0"] {display: none;}

.rc-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
    visibility: hidden;
}
.rc-popup-container {
    visibility: hidden;
    opacity: 0;
    padding: 0;
    position: fixed;
    max-width: 700px;
    width: 100%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    z-index: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;


}
.rc-popup-overlay.rc-visible {
    opacity: 1;
    visibility: visible;
    z-index: 9998;
}
.rc-popup-container.rc-visible {
    opacity: 1;
    z-index: 9999;
    visibility: visible;
}
.rc-popup-container .rc-close {
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.rc-popup-container .rc-close > div {width: 100%; height: 5px; top: 50%; left: 0; background-color: #fff; border-radius: 3px; position: absolute;}
.rc-popup-container .rc-close > div:nth-child(1) {transform: rotate(45deg);}
.rc-popup-container .rc-close > div:nth-child(2) {transform: rotate(-45deg);}
.rc-title {
    text-align: center;
    padding: 10px 20px;
    color: #fff;
}
.rc-title h3 {
    font-size: 21px;
    margin: 10px 0;
}
.rc-popup-content {position: relative;}
.rc-rating-container {padding: 20px 0;}
.rc-content {padding: 20px 20px;}

.rc-stars-container {}
.rc-stars-container-inner {display: flex; align-items: center; justify-content: center; flex-wrap: wrap;}
.rc-stars-container-inner .rc-star-item {
    cursor: pointer;
    padding: 2px 20px;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.rc-stars-container-inner .rc-star-item .target-star-item {
    width: 50px;
    height: 50px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
}
.rc-star-item-modal {
    padding-top: 10px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
}
.rc-form-row {margin-bottom: 15px;}
.rc-form-row:last-child {padding-top: 10px; margin-bottom: 0; display: flex; justify-content: center;}

.rc-form-row input[type="text"],
.rc-form-row input[type="email"],
.rc-form-row input[type="url"],
.rc-form-row input[type="password"],
.rc-form-row input[type="search"],
.rc-form-row input[type="number"],
.rc-form-row input[type="tel"],
.rc-form-row input[type="range"],
.rc-form-row input[type="date"],
.rc-form-row input[type="month"],
.rc-form-row input[type="week"],
.rc-form-row input[type="time"],
.rc-form-row input[type="datetime"],
.rc-form-row input[type="datetime-local"],
.rc-form-row input[type="color"],
.rc-form-row textarea {width: 100%; font-size: 18px;}
.rc-button,
.rc-form-row button[type="submit"],
.rc-form-row input[type="submit"] {
    border: 0;
    border-radius: 0;
    padding: 0 40px;
    height: 46px;
    font-size: 18px;
    font-weight: 500;
    display: block;
    cursor: pointer;
}

.rc-popup-content .rc-social-icon {width: 52px; height: 52px; display: flex;}
.rc-social-icon.facebook {background-image: url("./img/facebook.png"); }
.rc-social-icon.google {background-image: url("./img/google.png"); }
.rc-social-icon.yelp {background-image: url("./img/yelp.png"); }

.rc-shortcode-content .rc-social-icon {width: 52px; height: 52px; display: flex;}

.rc-review-from.social {display: flex;justify-content: space-around; padding: 30px 0 120px;}

.star-rating {display: flex;}
.star-rating--medium {width: 108px; height: 20px; }
.star-rating--medium .star-item {width: 20px; background-color: #dcdce6; margin-right: 2px; line-height: 0}
.star-rating-5 .star-item--color:nth-last-child(n+1) {background-color: #00b67a;}
.star-rating-4 .star-item--color:nth-last-child(n+2) {background-color: #73cf11;}
.star-rating-3 .star-item--color:nth-last-child(n+3) {background-color: #ffce00;}
.star-rating-2 .star-item--color:nth-last-child(n+4) {background-color: #ff8622;}
.star-rating-1 .star-item--color:nth-last-child(n+5) {background-color: #ff3722;}
.star-item img { max-width: 100%;}

.rc-shortcode-list-content .rc-review-list {display: flex; flex-wrap: wrap; width: 102%; margin-left: -1%; margin-right: -1%;}
.rc-shortcode-list-content .review {display: flex; flex-wrap: wrap; align-items: flex-start;}
.rc-shortcode-list-content .review-card {padding: 0 1% 1%;}
.rc-shortcode-list-content .rc-review-carousel .review-card {padding: 0 10px 10px;}
.rc-shortcode-list-content .review .review__content p {margin-top: 0; line-height: 20px;}
.rc-shortcode-list-content .review .review__consumer-information,
.rc-shortcode-list-content .review .review__content {width: 100%;}

.rc-shortcode-list-content .review-card {width: 100%;}
.rc-shortcode-list-content .review .review__consumer-information {width: 25%;}
.rc-shortcode-list-content .review .review__content {width: 75%;}

.rc-shortcode-list-content.columns-2 .review-card {width: 50%;}
.rc-shortcode-list-content.columns-2 .review .review__consumer-information {width: 30%;}
.rc-shortcode-list-content.columns-2 .review .review__content {width: 70%;}

.rc-shortcode-list-content.columns-3 .review-card {width: 33.333%;}

.rc-shortcode-list-content.columns-4 .review-card {width: 25%;}

@media(max-width: 980px){
    .rc-shortcode-list-content.columns-3 .review-card,
    .rc-shortcode-list-content.columns-4 .review-card {width: 50%;}
}
@media(max-width: 768px){
    .rc-shortcode-list-content.columns-2 .review-card,
    .rc-shortcode-list-content.columns-3 .review-card,
    .rc-shortcode-list-content.columns-4 .review-card {width: 100%;}
}
@media(max-width: 460px){
    .rc-shortcode-list-content .review .review__consumer-information,
    .rc-shortcode-list-content.columns-2 .review .review__consumer-information,
    .rc-shortcode-list-content .review .review__content,
    .rc-shortcode-list-content.columns-2 .review .review__content {width: 100%;}
}

.rc-shortcode-list-content .review .review__consumer-information .consumer-information__picture {text-align: center;}
.rc-shortcode-list-content .review .review__consumer-information .avatar-container {text-align: center; line-height: 0; max-height: 60px; overflow: hidden;}
.rc-shortcode-list-content .review .review__consumer-information .avatar {
    display: inline-block;
    width: auto;
    height: auto;
    border-radius: 0;
    position: relative;
    transform: translate(0, -25%);
}
.quote-container {text-align: center; padding-top: 10px;}
.quote-container p {margin: 0;}
.quote-container i {font-size: 12px;}

.rc-variants-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    background-color: #e6f5f7;
}

.rc-variants-container img {
    max-height: 60px;
    margin: 0 10px;
}
.rc-popup-content p,
.rc-review-thankyou {text-align: center; font-size: 18px;}
.rc-submit-logo {text-align: center; padding-bottom: 20px; line-height: 0;}
.rc-submit-logo img {max-height: 60px; }































